.product__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 3%;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    position: relative;
}
.product__cardImg{
    max-width: 130px;
    max-height: 120px;
    margin-bottom: 5px;
}
.product__cardDesc {
    line-height: 1.5;
}
.product__cardPrice {
    font-weight: bold;
    font-style: italic;
}
/* .product__cardDetail {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
} */
/* .product__cardDropdownActive {
    position: absolute;
    top: 40px;
    right: 5px;
    width: 70px;
    border-radius: 3px;
    visibility: visible;
}
.product__cardDropdownHidden {
    display: none;
}
.product__cardDropdownElement {
    padding: 5px;
    cursor: pointer;
} */

.product-container {
    position: absolute;
    top: 10px;
    right: 20px;
    flex-grow: 0.05;
  }
  .dropdownProduct {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 30px;
    right: -30px;
    width: 80px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  }
  .dropdownProduct.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .dropdownProduct ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdownProduct li {
    border-bottom: 1px solid #dddddd;
  }
  
  .dropdownProduct li a {
    text-decoration: none;
    color: #333333;
    padding: 5px 20px;
    display: block;
  }
  .product-trigger {
    background: #ffffff;
    border-radius: 90px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
  }
  
  .product-trigger:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  
  /* .menu-trigger svg {
    border-radius: 90px;
    font-size: 30px;
  } */