.product {
    max-width: inherit;
    max-height: inherit;
}
.product__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.product__add {
    width: 150px;
    height: 30px;
    background-color: #dbe2ef;
    border-radius: 10px;
    border: none;
}
.product__main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-gap: 20px 20px;
    justify-items: stretch;
    justify-content: center;
}
.product__search {
    display: flex;
    align-items: center;
}
.product__search input {
    width: 200px;
    padding: 0 10px;
    margin-right: 5px;
}
.product__search button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 50px;
}