.sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -30%;
  transition: 850ms;
  border-right: 1px solid #cfd3ce;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.sidebar.active {
  visibility: visible;
  opacity: 1;
  left: 0;
  transition: 350ms;
}
.sidebar__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0 20px;
  padding-left: 2rem;
}
.sidebar__ul {
  height: 100%;
}
.sidebar__item {
  margin: 10px 0;
  text-decoration: none;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.sidebar__item svg {
  font-size: 1.3rem;
  margin: 0 10px;
}
.sidebar__item:hover,
.sidebar__userDropdown a:hover {
  background-color: #cfd3ce;
}
.sidebar__userDropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar__userDropdown a {
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
}
.open {
  background-color: #cfd3ce;
}
