@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
  color: #222831;
}
html, body {
  height: 100%;
}
.menu {
  position: fixed;
  top: 13px;
  left: 7px;
  transition: 850ms;
  z-index: 1;
}
.menu.activeMenu {
  top: 13px;
  left: 11%;
  transition: 350ms;
}
.main {
  margin: 0 0 0 5%;
  padding: 0 3%;
  transition: 850ms;
}
.main.activeMain {
  margin: 0 0 0 15%;
  padding: 0 3%;
  transition: 350ms;
}